.SideNav {
    width: 15%;
    height: 100vh;
   background-color: lightgreen;
  
    ul{
     display:flex;
     flex-direction: column;
     gap: 2rem;   
    
    }
    .plus{
        border-top: 1px solid white;
        margin-top: 3rem;
        padding: 1rem;
        
    }
}